THEHIVE_URL=http://<thehive-public-ip>:9000
THEHIVE_API_KEY=<from TheHive UI: Administration > Users > you > API Key>
SNOW_INSTANCE=https://devXXXXXX.service-now.com
SNOW_USER=admin
SNOW_PASS=<your PDI admin password>
